.grid-card {
  padding: 0;

  .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .card-title {
      margin: 0;
    }

    .filter {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 1rem;
    }
  }

  .card-content {
    table {
      width: 100%;

      .edit-action-btn {
        margin-right: 1rem;
      }
    }
  }

}


