.app-wrapper {
  height: 100%;

  .nav-spacer {
    flex: 1 1 auto;
  }

  .app-content {
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;

    .grid-container {
      flex: 100%;
    }

  }
}
