<div class="app-wrapper mat-app-background" *ngIf="books$ | async as books">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Book Inventory</span>
      <span class="nav-spacer"></span>
      <a mat-raised-button class="add-btn" [color]="'accent'" routerLink="/add">Add Book</a>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="app-content">
    <div class="grid-container">
      <app-grid [books]="books"></app-grid>
    </div>
    <router-outlet class="sub-component-container"></router-outlet>
  </div>
</div>
