/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.subcomponent {
  width: 25%;
  margin-left: 1rem;
}
