@import '@angular/material/prebuilt-themes/indigo-pink.css';

.add-book-card {

  .card-content {

    .add-book-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;


    }
  }

  .footer {

    .card-actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
